<h2> Hola, {{ name }} </h2>
<p>
  Gracias por inscribirte. Antes de continuar, debes confirmar tu cuenta y correo electrónico.
</p>

<button>Confirmar tu cuenta</button>

<p>¡Muchas gracias!</p>

<p>Saludos,</p>
<p>GOEN Maracaibo</p>

