<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <logging>
      <log type="coverage-html" target="./tests/report"/>
      <log type="coverage-clover" target="./tests/report/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./app/Console</directory>
                <directory suffix=".php">./app/Exceptions</directory>
                <directory suffix=".php">./app/Http/Controllers/Auth</directory>
                <directory suffix=".php">
                    ./app/Http/Middleware/CheckForMaintenanceMode.php
                </directory>
                <directory suffix=".php">
                    ./app/Http/Middleware/CheckForMaintenanceMode.php
                </directory>
                <directory suffix=".php">
                    ./app/Http/Middleware/RedirectIfAuthenticated.php
                </directory>
                <directory suffix=".php">./app/Notifications</directory>
                <directory suffix=".php">./app/Providers</directory>
                <directory suffix=".php">./app/Swagger</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="API_DEBUG" value="false"/>
        <env name="MAIL_DRIVER" value="log"/>
        <ini name="memory_limit" value="512M" />
    </php>
</phpunit>
